.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 47px 162px 0 465px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: -15px 296px 0 477px;
}

.u-section-1 .u-image-1 {
  width: 274px;
  height: 411px;
  margin: -114px auto 0 143px;
}

.u-section-1 .u-line-1 {
  width: 451px;
  border-style: double;
  transform-origin: left center;
  margin: -277px 211px 0 auto;
}

.u-section-1 .u-group-elements-1 {
  width: 451px;
  min-height: 58px;
  height: auto;
  margin: 10px auto 0 478px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-elements-2 {
  width: 451px;
  min-height: 58px;
  height: auto;
  margin: 20px auto 0 478px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-2 {
  width: 451px;
  border-style: double;
  transform-origin: left center;
  margin: 10px 211px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 344px 0 601px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 29px;
  height: 29px;
  margin: -29px 632px 0 479px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  width: 94px;
  margin: -29px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 3px 344px 0 601px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-10 {
  margin: -29px 527px 0 523px;
}

.u-section-1 .u-image-3 {
  width: 30px;
  height: 26px;
  margin: -27px auto 0 479px;
}

.u-section-1 .u-icon-1 {
  width: 30px;
  height: 30px;
  background-image: none;
  margin: 5px 632px 0 478px;
  padding: 6px;
}

.u-section-1 .u-text-11 {
  margin: -29px 307px 60px 523px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 383px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 393px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 244px;
    margin-left: 501px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 532px;
    margin-left: 379px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 244px;
    margin-left: 501px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 427px;
    margin-left: 423px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 521px;
    margin-left: 394px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 207px;
    margin-left: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 227px;
    margin-left: 301px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: 269px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 134px;
    margin-left: 391px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 422px;
    margin-left: 269px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 134px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 317px;
    margin-left: 313px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 399px;
    margin-left: 302px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 97px;
    margin-left: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 220px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 170px;
    margin-left: 226px;
  }

  .u-section-1 .u-line-1 {
    margin-right: 89px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-elements-2 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-line-2 {
    margin-right: 89px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin-right: 44px;
    margin-left: 301px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 332px;
    margin-left: 179px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin-right: 44px;
    margin-left: 301px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 227px;
    margin-left: 223px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 299px;
    margin-left: 227px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 7px;
    margin-left: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 102px;
    margin-left: 139px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 107px;
    margin-left: 142px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 66px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 17px;
    margin-right: 0;
    margin-left: 145px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -22px;
    margin-right: 232px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 186px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 127px;
    margin-left: 123px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -32px;
    margin-left: 310px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 7px;
    margin-right: 188px;
    margin-left: 143px;
  }

  .u-section-1 .u-text-11 {
    margin: -27px 0 24px 30px;
  }
}